@using DoAnWeb.Models;

@{
    var abouts = ViewData["Abouts"] as List<About>;
    var members = ViewData["Members"] as List<Member>;
}
<style>
    .imgmess{
        width: 120px;
        height:120px;
        border-radius: 50%;
        object-fit: cover;
    }
    /* .imgmess img{
        width: 100%;
        height: 100%;
        
    } */
        
</style>
<!-- ======= About Section ======= -->
<section class="about" data-aos="fade-up">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                @foreach (var about in abouts)
                {
                    <h3>@about.Title</h3>
                    <p class="fst-italic">
                        @about.AboutUs
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-circle"></i> Chúng tôi có ba nguyên lý cơ bản - Đổi mới, Minh bạch và Nhanh nhẹn - trung tâm của các tương tác giữa nhân viên và khách hàng của chúng tôi.</li>
                        <li><i class="bi bi-check2-circle"></i> Chúng tôi thu hút và phát triển tài năng để trở thành nhà lãnh đạo tư tưởng công nghệ bằng cách thúc đẩy văn hóa hợp tác, cởi mở và học tập suốt đời.</li>
                        <li><i class="bi bi-check2-circle"></i> Trở thành một tập đoàn được quốc tế công nhận, tận dụng công nghệ để cung cấp các giải pháp sáng tạo, do các chuyên gia hạng nhất mang lại.</li>
                    </ul>
                    
                }

            </div>
        </div>

    </div>
</section>
<!-- End About Section -->
<!-- ======= Tetstimonials Section ======= -->
<section class="testimonials" data-aos="fade-up">
    <div class="container">

        <div class="section-title">
            <h2>LỜI CHIA SẺ CỦA CHÚNG TÔI</h2>

        </div>
        <div class="testimonials-carousel swiper">
            <div class="swiper-wrapper">
                @foreach (var mm in members)
                {
                    <div class="testimonial-item swiper-slide">
                        <img src="@mm.Image " class="testimonial-img imgmess" alt="">
                        <h3>@mm.Name</h3>
                        <h4>@mm.WorkPosition</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @Html.Raw(mm.Message)
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>



    </div>
</section>
<!-- End Ttstimonials Section -->

