@model IPagedList<DoAnWeb.Models.Member>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Thành viên";
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

<style>
    .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75px; /* Điều chỉnh giới hạn độ dài tùy ý */
    }
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination-item {
        width: 30px; /* Độ rộng của ô vuông */
        height: 30px; /* Chiều cao của ô vuông */
        margin-right: 5px; /* Khoảng cách giữa các ô vuông */
        color: #007bff;
        text-align: center;
        line-height: 30px; /* Đưa chữ về giữa ô vuông */
        cursor: pointer;
        border-radius: 3px;
        display: inline-block; /* Hiển thị trên cùng một dòng */
        transition: background-color 0.3s;
    }

        .pagination-item:hover {
            background-color: #007bff;
            color: #ffffff !important;
        }

        .pagination-item.active {
            background-color: #007bff;
            color: #ffffff;
        }

        .pagination-item:last-child {
            margin-right: 0;
        }

</style>

<div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Quản lý Thành viên</h5>
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div id="successAlert" class="alert alert-success">
                            @successMessage
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div id="errorAlert" class="alert alert-danger">
                            @errorMessage
                        </div>
                    }
                    <p>
                        <a asp-action="Create" class="btn btn-primary mb-3">Thêm mới</a>
                    </p>
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">STT</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Họ và tên</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Hình ảnh</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Vị trí làm việc</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Thông tin</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Lời nhắn</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Hiển thị</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0"></h6>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@(i++)</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@item.Name</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <img style="max-width: 30px;height: auto;" src="@item.Image" />
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@item.WorkPosition</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0 truncate-text">@item.Detail</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0 truncate-text">@item.Message</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@Html.CheckBox("true", @item.IsActive)</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <a asp-action="Edit" asp-route-id="@item.MemberId" class="btn btn-danger btn-sm">Sửa</a> |
                                            <a asp-action="Details" asp-route-id="@item.MemberId" class="btn btn-info btn-sm">Chi tiết</a> |
                                            <a asp-action="Delete" asp-route-id="@item.MemberId" data-id="@item.MemberId" class="btn btn-warning btn-sm">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pagination-container">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LiElementClasses = new[] { "pagination-item" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Ẩn thông báo sau 2 giây (2000 milliseconds)
        setTimeout(function () {
            $("#successAlert").fadeOut(500);
            $("#errorAlert").fadeOut(500);
        }, 2000);
    });
</script>
