@model DoAnWeb.Models.Project

@{
    ViewData["Title"] = "Xóa";
}

<div class="container-fluid">
    <div class="container-fluid">
        <h5 class="card-title fw-semibold mb-4">Bạn chắc chắn muốn xóa?</h5>
        <div class="card">
            <div class="card-body">
                <h4>@Model.ProjectName</h4>
                <div>
                    <h4>Member</h4>
                    <dl class="row">
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            Tên dự án:
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @Html.DisplayFor(model => model.ProjectName)
                        </dd>
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            Hiển thị
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @if (Model.IsActive)
                            {
                                <span class="text-success">Có</span>
                            }
                            else
                            {
                                <span class="text-danger">Không</span>
                            }
                        </dd>
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            Hình ảnh:
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @Html.DisplayFor(model => model.Image)
                        </dd>
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            Ngày tạo
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            Tiêu đề
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            Chi tiết:
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @Html.DisplayFor(model => model.Detail)
                        </dd>
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            Khách hàng
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @Html.DisplayFor(model => model.Client)
                        </dd>
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            @Html.DisplayNameFor(model => model.Link)
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @Html.DisplayFor(model => model.Link)
                        </dd>
                        <dt class="col-sm-2 fw-semibold border-bottom-0">
                            Danh mục:
                        </dt>
                        <dd class="col-sm-10 fw-semibold border-bottom-0">
                            @Html.DisplayFor(model => model.CategoryP.Name)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ProjectId" />
                        <input type="submit" value="Xóa" class="btn btn-danger btn-delete m-1" /> |
                        <a asp-action="Index" type="button" class="btn btn-outline-primary m-1">Quay lại</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
