@model Blog
@using DoAnWeb.Utilities;
@{

    List<BlogComment> blogComments = ViewBag.blogComment;
    ViewData["Title"] = Model.Title.ToString();
    string url = Functions.TitleSlugGeneration("Blog", Model.Title, Model.BlogId);
}

<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog</h2>

                <ol>
                    <li><a href="~/Home">Trang chủ</a></li>
                    <li><a href="~/Blog">Blog</a></li>
                    <li>@Model.Title</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class=" entries">
                    <article class="entry entry-single">
                        
                        <h2 class="entry-title">
                            @Html.Raw(Model.Title)
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/@url">@Model.CreatedBy</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/@url"><time>@Model.CreatedDate</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>@blogComments.Count()  Comments</li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>@Html.Raw(Model.Description)</p>
                            <p style="margin-top: 10px;">@Html.Raw(Model.Detail)</p>
                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                <li><a href="#">@Model.Tags</a></li>
                            </ul>
                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-comments">

                        <h4 class="comments-count">@blogComments.Count() Comments</h4>
                        @foreach (var cm in blogComments)
                        {
                            <div id="comment-1" class="comment">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="~/admin/assets/images/profile/user-1.jpg" alt=""></div>
                                    <div>
                                        <h5><a href="">@cm.Name</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                        <time>@cm.CreatedDate</time>
                                        <p>
                                            @Html.Raw(cm.Detail)
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- End comment #1 -->
                        }

                        <div class="reply-form">
                            <h4>Để lại câu bình luận</h4>
                            <p>Email của bạn sẽ không được hiển thị công khai. Các trường bắt buộc được đánh dấu * </p>
                            <form id="commentFrm" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input name="Name" id="name" type="text" class="form-control" placeholder="Họ và Tên*">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input name="Email" id="email" type="text" class="form-control" placeholder="Email*">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <input name="Phone" id="phone" type="text" class="form-control" placeholder="Điện thoại">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="Detail" id="detail" class="form-control" placeholder="Bình luận*"></textarea>
                                    </div>
                                </div>
                                <button id="btnCommentSubmit" type="submit" class="btn btn-primary">Bình luận</button>

                            </form>

                        </div>

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->
            </div>
        </div>
    </section><!-- End Blog Single Section -->
</main>

@section Script {
    <script src="~/assets/js/comment.js"></script>
    @{
        var summerNote = new DoAnWeb.Areas.Admin.Models.SummerNote("#detail");
    }
    <partial name="/Areas/Admin/Views/Shared/_SummerNote.cshtml" model="summerNote" />
}


