@model Blog
@using DoAnWeb.Utilities;
@{

    List<BlogComment> blogComments = ViewBag.blogComment;
    ViewData["Title"] = Model.Title.ToString();
    string url = Functions.TitleSlugGeneration("Blog", Model.Title, Model.BlogId);
}

<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog</h2>

                <ol>
                    <li><a href="~/Home">Trang chủ</a></li>
                    <li><a href="~/Blog">Blog</a></li>
                    <li>@Model.Title</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class=" entries">
                    <article class="entry entry-single">
                        
                        <h2 class="entry-title">
                            @Html.Raw(Model.Title)
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/@url">@Model.CreatedBy</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/@url"><time>@Model.CreatedDate</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>@blogComments.Count()  Comments</li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>@Html.Raw(Model.Description)</p>
                            <p style="margin-top: 10px;">@Html.Raw(Model.Detail)</p>
                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                <li><a href="#">@Model.Tags</a></li>
                            </ul>
                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-comments">

                        <h4 class="comments-count">@blogComments.Count() Comments</h4>
                        @foreach (var cm in blogComments)
                        {
                            <div id="comment-1" class="comment">
                                <div class="d-flex">
                                    <div>
                                        <h5><a href="">@cm.Name</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                        <time>@cm.CreatedDate</time>
                                        <p>
                                            @cm.Detail
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- End comment #1 -->
                        }

                        <div class="reply-form">
                            <h4>Leave a Reply</h4>
                            <p>Your email address will not be published. Required fields are marked * </p>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Your Name*">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input name="email" type="text" class="form-control" placeholder="Your Email*">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <input name="website" type="text" class="form-control" placeholder="Your Website">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Bình luận</button>

                            </form>

                        </div>

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->

                @* <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Tìm kiếm</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        <h3 class="sidebar-title">Danh mục</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">General <span>(25)</span></a></li>
                                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Design <span>(22)</span></a></li>
                                <li><a href="#">Creative <span>(8)</span></a></li>
                                <li><a href="#">Educaion <span>(14)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories-->

                        <h3 class="sidebar-title">Recent Posts</h3>
                        @await Component.InvokeAsync("RecentPost")
                        <!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>


                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar --> *@

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Single Section -->

</main>

