@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using DoAnWeb.Utilities;
@model IPagedList<Blog>
@{
    ViewData["Title"] = "Blog";
    List<BlogComment> blogComment = ViewBag.blogComment;
}

<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination-item {
        width: 30px; /* Độ rộng của ô vuông */
        height: 30px; /* Chiều cao của ô vuông */
        margin-right: 5px; /* Khoảng cách giữa các ô vuông */
        color: #007bff;
        text-align: center;
        line-height: 30px; /* Đưa chữ về giữa ô vuông */
        cursor: pointer;
        border-radius: 3px;
        display: inline-block; /* Hiển thị trên cùng một dòng */
        transition: background-color 0.3s;
    }

        .pagination-item:hover {
            background-color: #007bff;
            color: #ffffff !important;
        }

        .pagination-item.active {
            background-color: #007bff;
            color: #ffffff;
        }

        .pagination-item:last-child {
            margin-right: 0;
        }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="~/Home">Trang chủ</a></li>
                    <li>Blog</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-8 entries">
                    @foreach (var bg in Model)
                    {
                        string url = Functions.TitleSlugGeneration("Blog", bg.Title, bg.BlogId);
                        var listComment = blogComment.Where(i => i.BlogId == bg.BlogId);
                        <article class="entry">

                            <div class="entry-img">
                                <img src="@bg.Image" alt="" class="img-fluid">
                            </div>
                            <h2 class="entry-title">
                                <a href="/@url">@bg.Title</a>
                            </h2>
                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/@url">@bg.CreatedBy</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/@url"><time>@bg.CreatedDate</time></a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/@url">@listComment.Count() Comments</a></li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                <p>
                                    @bg.Description
                                </p>
                                <div class="read-more">
                                    <a href="/@url">Xem thêm</a>
                                </div>
                            </div>
                        </article>
                    }

                    <div class=".pagination-container">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LiElementClasses = new[] { "pagination-item" } })
                    </div>
                </div><!-- End blog entries list -->

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Tìm kiếm</h3>
                        <div class="sidebar-item search-form">
                            <form role="search" method="get" action="@Url.Action("Index", "Blog")">
                                    <input name="searchString" class="form-control" placeholder="Enter your keywords..." value="@ViewBag.Keyword" type="text">
                                    <button type="submit" class="bi bi-search"></button>
                            </form>
                        </div><!-- End sidebar search formn-->

                        @* <h3 class="sidebar-title">Danh mục</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">General <span>(25)</span></a></li>
                                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Design <span>(22)</span></a></li>
                                <li><a href="#">Creative <span>(8)</span></a></li>
                                <li><a href="#">Educaion <span>(14)</span></a></li>
                            </ul>
                        </div><!-- End sidebar categories--> *@

                        <h3 class="sidebar-title">Recent Posts</h3>
                        @await Component.InvokeAsync("RecentPost")
                        <!-- End sidebar recent posts-->

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                @foreach(var tg in Model)
                                {
                                    <li><a href="#">@tg.Tags</a></li>
                                }
                            </ul>
                        </div><!-- End sidebar tags-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section>

</main><!-- End #main -->
</html>


